body {
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
  background-color: #0a0a23;
}
.headerStyle {
  font-family: 'Playfair Display', serif;
  color: antiquewhite;
  text-align: center;
}

footer {
  font-family: 'Playfair Display', serif;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 4rem;
  padding-top: 20px;
  text-align: center;
}

.topic {
  color: white;
  font-size: 15%;
  font-family: 'Playfair Display', serif;
}

.table {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #090911;
  }

  .styledLinks {
    text-decoration: none;
  }
